* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
}

.main {
  background-color: #27233a;
  height: 100vh;
}

.inputDiv {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  display: flex;
  width: 60%;
  color: #27233a;
  margin: 20px auto;
  background-color: #b3c0a4;
  padding: 15px;
  border-radius: 10px;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

input {
  width: 400px;
  height: 50px;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: none;
}

button {
  width: 150px;
  height: 50px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #b3c0a4;
}

a {
  text-decoration: none;
}